/* Vos customisations des classes de Bootstrap */




/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
.nav-item-{ 
 margin-right: 50em;   
 margin-left: 40px; 
 } 
     nav{   
     background-color:rgb(26, 25, 25);
         }
    .nav-link{  
     color: white;  
                   }


    footer{
        background-color: red;
        padding-left:15px;
        padding-top: 60px;


    }      
    #get{
        background-color:#F2F2F2;
        padding:60px;
    }  
span{
    color:rgb(255, 255, 255);
}
.jumbotron{
    background-image: url(/home/diallo/Bureau/bootstrap/images/hero-image.jpg);
    background-attachment: fixed;
    background-size: cover;
    opacity: 70px;
    color:rgb(255, 251, 251);
}


mark{
    color:red;
}
hr{
    border-top: 1px solid #e74c3d;
    width: 160px;
    margin-top: 15px;
}